<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598931570424-h2hgda3pmm3d4k0htfhf46hrq21hr0nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598931570424-h2hgda3pmm3d4k0htfhf46hrq21hr0nq</string>
	<key>API_KEY</key>
	<string>AIzaSyDJrRayv-PUuW3LLK74R3yGuKlWBRpDzUE</string>
	<key>GCM_SENDER_ID</key>
	<string>598931570424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>calere.SoloFinanzas</string>
	<key>PROJECT_ID</key>
	<string>solofinanzas-809e5</string>
	<key>STORAGE_BUCKET</key>
	<string>solofinanzas-809e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598931570424:ios:9471d26a43e3cb0762850d</string>
	<key>DATABASE_URL</key>
	<string>https://solofinanzas-809e5.firebaseio.com</string>
</dict>
</plist>